################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestResults
/PreEntregaProjecto1SoftwareDesign/bin
!/PreEntregaProjecto1SoftwareDesign/bin/Debug/nercoreapp3.1/Models
/PreEntregaProjecto1SoftwareDesign/obj
/BlocksTests/bin
/BlocksTests/obj
!/BlocksTests/bin/Debug/netcoreapp3.1/TestFiles
/WAPI/bin
/WAPI/obj